
<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">	
		<div class="panel panel-default">
			
			<div class="panel-body">
				<h1><%= @pin.title %> <small> - $ <%= @pin.price %> </small></h1>
			</div>

			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			<div class="panel-body">
				  <strong>Description:</strong>
				  <%= @pin.description %><br>
				</p>


				<% if @pin.user == current_user %>
			      <%= link_to edit_pin_path(@pin) do %>
			        <span class="glyphicon glyphicon-edit"></span>
			        Edit
		      <% end %> |
						<%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>|
				<% end %>
				<%= link_to 'Back', pins_path %>

				<div class="panel-body">
					<% @pin_attachments.each do |f| %>
					  <%= image_tag f.pictures, :width => 650 %></br>
					  <p><%= link_to 'Edit', edit_pin_attachment_path(f) %></p>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>
