<div class="row">
	<div class="col-md-offset-2 col-md-8">	
		<div class="panel panel-default">
			
			<div class="panel-body">
				<h1><%= @pin.title %> <small> - $ <%= @pin.price %> </small></h1>
			</div>

			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			
			<div class="panel-body">
				  <strong>Description:</strong>
				  <%= @pin.description %><br>

				<% if @pin.user == current_user %>
			      
			      <%= link_to edit_pin_path(@pin) do %>
			        Edit
		      	<% end %> |
						
						<%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>|
				
				<% end %>
				
				<div class="panel-body">
					<% @pin_attachments.each do |f| %>
					  <%= image_tag f.pictures, :width => 650 %></br>
					<% end %>
				</div>

			</div>

			<!-- new comment comments/new -->
			<% if user_signed_in? %>
				<%= render 'comments/new' %>
			<% end %>
			
			<!-- list comment comments/new -->
			<%= render 'comments/index' %>


		</div>

				<%= link_to 'Back', pins_path, class: "btn btn-default" %>


	</div>

</div>

