<p id="notice"><%= notice %></p>


<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @comment.pin %>
</p>
s
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
